
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
  url("./fonts/open-sans-v34-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-display: swap; 
  src: url("./fonts/open-sans-v34-latin-700.woff2") format("woff2"),
  url("./fonts/open-sans-v34-latin-700.woff") format("woff"); 
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  margin-right: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.fifth-item {
  margin-right: 0;
}
.nav-link {
  color: #222222;
  text-decoration: none;
  transition: color 0.5s ease;
}
.nav-link:hover {
  color: #de2e54;
}
.nav-link:active {
  color: #DE2E54;
  opacity: 0.6;
}
.write-link {
  padding: 12px 24px;
  border: 2px solid #de2e54;
  border-radius: 8px;
  background-color: #de2e54;
  color: #ffffff;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.write-link:hover {
  border: 2px solid #de2e54;
  border-radius: 8px;
  background-color: #fff;
  color: #de2e54;
}
.write-link:active {
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
  border: 2px solid #de2e54;
  border-radius: 8px;
}
.intro {
  background-color: #0eb4c1;
  /* margin-bottom: 120px; */
  
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.div-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-title {
  margin-bottom: 16px;
}
.intro-title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #ffffff;
}
.div-describe {
  margin-bottom: 48px;
  width: 400px;
}
.intro-describe {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}
.intro-link {
  padding: 12px 24px;
  border: 2px solid #de2e54;
  border-radius: 8px;
  background-color: #de2e54;
  color: #ffffff;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.intro-link:hover {
  background-color: #de2e54;
  opacity: 0.8;
  border-radius: 8px;
}
.intro-link:active {
  background: #de2e54;
  opacity: 0.6;
  border-radius: 8px;
}
.div-intro-img {
  padding-top: 29px;
}
.intro-img {
  display: block;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.service-title {
  margin-top: 0;
  margin-bottom: 56px;
  padding-top: 120px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
}
.service-list {
  padding-left: 0;
  list-style: none;
}
.service-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.next-item {
  margin-bottom: 72px;
}
.service-img {
  margin-right: 64px;
}
.wrapper-service {
  width: 600px;
}
.service-subtitle {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}
.service-link {
  color: #222222;
  text-decoration: none;
}
.service-describe {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
}
.service-write {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
.service-links {
  padding: 12px 24px;
  border: 2px solid #de2e54;
  border-radius: 8px;
  background-color: #de2e54;
  color: #ffffff;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.service-links:hover {
  background-color: #ffffff;
  color: #de2e54;
  border: 2px solid #de2e54;
  border-radius: 8px;
}
.service-links:active {
  background: #DE2E54;
  color: #ffffff;
  opacity: 0.6;
  border: 2px solid #DE2E54;
  border-radius: 8px;
}
.site-article {
  background-color: #0eb4c1;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.div-article {
  display: flex;
  justify-content: center;
}
.article-title {
  margin: 0;
  padding-top: 64px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
}
.article-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 76px;
}
.article-text {
  padding: 12px 24px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.article-text:hover {
  background-color: #de2e54;
  color: #ffffff;
  border: 2px solid #de2e54;
  border-radius: 8px;
}
.article-text:active {
  background-color: #de2e54;
  color: #ffffff;
  opacity: 0.6;
  border: 2px solid #de2e54;
  border-radius: 8px;
}
.article-link {
  color: #ffffff;
  text-decoration: none;
}
.first-article {
  margin-right: 88px;
}
.site-footer {
  background-color: #222222;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.div-footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}
.footer-item {
  margin-right: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer-last {
  margin-right: 0;
}
.footer-link {
  color: #ffffff;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.footer-link:hover {
  color: #de2e54;
}
.footer-link:active {
  color: #ffffff;
  opacity: 0.6;
}